/* geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: black;
    border: none;
}

body{
    
    margin:0;
    padding: 0;
    background-image: url("../Imagens/acariciar-perro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

textarea:focus, input:focus{
    outline: none;
}

#CadastroPet{
    background-color: #FFF;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

form{
    margin: 30px 0 40px 0;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bold;
    font-size: .8rem;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus{
   border-bottom: 2px solid #08558b;
}

input[type="submit"]{
    text-align: center;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFF;
    background-color: #aa0a62;
    cursor: pointer;
}


